<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hunau.mapper.ForumCommentMapper">
  <resultMap id="BaseResultMap" type="edu.hunau.entity.ForumComment">
    <id column="comment_id" jdbcType="BIGINT" property="commentId" />
    <result column="commentable_id" jdbcType="BIGINT" property="commentableId" />
    <result column="commentable_type" jdbcType="INTEGER" property="commentableType" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="reply_count" jdbcType="INTEGER" property="replyCount" />
    <result column="vote_count" jdbcType="INTEGER" property="voteCount" />
    <result column="vote_up_count" jdbcType="INTEGER" property="voteUpCount" />
    <result column="vote_down_count" jdbcType="INTEGER" property="voteDownCount" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="delete_time" jdbcType="DATE" property="deleteTime" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="edu.hunau.entity.ForumComment">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    comment_id, commentable_id, commentable_type, user_id, reply_count, vote_count, vote_up_count, 
    vote_down_count, create_time, update_time, delete_time, parent_id
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="edu.hunau.entity.ForumCommentExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from forum_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="edu.hunau.entity.ForumCommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from forum_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from forum_comment
    where comment_id = #{commentId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from forum_comment
    where comment_id = #{commentId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="edu.hunau.entity.ForumCommentExample">
    delete from forum_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.hunau.entity.ForumComment">
    insert into forum_comment (comment_id, commentable_id, commentable_type, 
      user_id, reply_count, vote_count, 
      vote_up_count, vote_down_count, create_time, 
      update_time, delete_time, parent_id, 
      content)
    values (#{commentId,jdbcType=BIGINT}, #{commentableId,jdbcType=BIGINT}, #{commentableType,jdbcType=INTEGER}, 
      #{userId,jdbcType=BIGINT}, #{replyCount,jdbcType=INTEGER}, #{voteCount,jdbcType=INTEGER}, 
      #{voteUpCount,jdbcType=INTEGER}, #{voteDownCount,jdbcType=INTEGER}, #{createTime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE}, #{deleteTime,jdbcType=DATE}, #{parentId,jdbcType=BIGINT}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.hunau.entity.ForumComment">
    insert into forum_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="commentableId != null">
        commentable_id,
      </if>
      <if test="commentableType != null">
        commentable_type,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="replyCount != null">
        reply_count,
      </if>
      <if test="voteCount != null">
        vote_count,
      </if>
      <if test="voteUpCount != null">
        vote_up_count,
      </if>
      <if test="voteDownCount != null">
        vote_down_count,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="commentableId != null">
        #{commentableId,jdbcType=BIGINT},
      </if>
      <if test="commentableType != null">
        #{commentableType,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="replyCount != null">
        #{replyCount,jdbcType=INTEGER},
      </if>
      <if test="voteCount != null">
        #{voteCount,jdbcType=INTEGER},
      </if>
      <if test="voteUpCount != null">
        #{voteUpCount,jdbcType=INTEGER},
      </if>
      <if test="voteDownCount != null">
        #{voteDownCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=DATE},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.hunau.entity.ForumCommentExample" resultType="java.lang.Long">
    select count(*) from forum_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update forum_comment
    <set>
      <if test="row.commentId != null">
        comment_id = #{row.commentId,jdbcType=BIGINT},
      </if>
      <if test="row.commentableId != null">
        commentable_id = #{row.commentableId,jdbcType=BIGINT},
      </if>
      <if test="row.commentableType != null">
        commentable_type = #{row.commentableType,jdbcType=INTEGER},
      </if>
      <if test="row.userId != null">
        user_id = #{row.userId,jdbcType=BIGINT},
      </if>
      <if test="row.replyCount != null">
        reply_count = #{row.replyCount,jdbcType=INTEGER},
      </if>
      <if test="row.voteCount != null">
        vote_count = #{row.voteCount,jdbcType=INTEGER},
      </if>
      <if test="row.voteUpCount != null">
        vote_up_count = #{row.voteUpCount,jdbcType=INTEGER},
      </if>
      <if test="row.voteDownCount != null">
        vote_down_count = #{row.voteDownCount,jdbcType=INTEGER},
      </if>
      <if test="row.createTime != null">
        create_time = #{row.createTime,jdbcType=DATE},
      </if>
      <if test="row.updateTime != null">
        update_time = #{row.updateTime,jdbcType=DATE},
      </if>
      <if test="row.deleteTime != null">
        delete_time = #{row.deleteTime,jdbcType=DATE},
      </if>
      <if test="row.parentId != null">
        parent_id = #{row.parentId,jdbcType=BIGINT},
      </if>
      <if test="row.content != null">
        content = #{row.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update forum_comment
    set comment_id = #{row.commentId,jdbcType=BIGINT},
      commentable_id = #{row.commentableId,jdbcType=BIGINT},
      commentable_type = #{row.commentableType,jdbcType=INTEGER},
      user_id = #{row.userId,jdbcType=BIGINT},
      reply_count = #{row.replyCount,jdbcType=INTEGER},
      vote_count = #{row.voteCount,jdbcType=INTEGER},
      vote_up_count = #{row.voteUpCount,jdbcType=INTEGER},
      vote_down_count = #{row.voteDownCount,jdbcType=INTEGER},
      create_time = #{row.createTime,jdbcType=DATE},
      update_time = #{row.updateTime,jdbcType=DATE},
      delete_time = #{row.deleteTime,jdbcType=DATE},
      parent_id = #{row.parentId,jdbcType=BIGINT},
      content = #{row.content,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update forum_comment
    set comment_id = #{row.commentId,jdbcType=BIGINT},
      commentable_id = #{row.commentableId,jdbcType=BIGINT},
      commentable_type = #{row.commentableType,jdbcType=INTEGER},
      user_id = #{row.userId,jdbcType=BIGINT},
      reply_count = #{row.replyCount,jdbcType=INTEGER},
      vote_count = #{row.voteCount,jdbcType=INTEGER},
      vote_up_count = #{row.voteUpCount,jdbcType=INTEGER},
      vote_down_count = #{row.voteDownCount,jdbcType=INTEGER},
      create_time = #{row.createTime,jdbcType=DATE},
      update_time = #{row.updateTime,jdbcType=DATE},
      delete_time = #{row.deleteTime,jdbcType=DATE},
      parent_id = #{row.parentId,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.hunau.entity.ForumComment">
    update forum_comment
    <set>
      <if test="commentableId != null">
        commentable_id = #{commentableId,jdbcType=BIGINT},
      </if>
      <if test="commentableType != null">
        commentable_type = #{commentableType,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="replyCount != null">
        reply_count = #{replyCount,jdbcType=INTEGER},
      </if>
      <if test="voteCount != null">
        vote_count = #{voteCount,jdbcType=INTEGER},
      </if>
      <if test="voteUpCount != null">
        vote_up_count = #{voteUpCount,jdbcType=INTEGER},
      </if>
      <if test="voteDownCount != null">
        vote_down_count = #{voteDownCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=DATE},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="edu.hunau.entity.ForumComment">
    update forum_comment
    set commentable_id = #{commentableId,jdbcType=BIGINT},
      commentable_type = #{commentableType,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      reply_count = #{replyCount,jdbcType=INTEGER},
      vote_count = #{voteCount,jdbcType=INTEGER},
      vote_up_count = #{voteUpCount,jdbcType=INTEGER},
      vote_down_count = #{voteDownCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE},
      delete_time = #{deleteTime,jdbcType=DATE},
      parent_id = #{parentId,jdbcType=BIGINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where comment_id = #{commentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.hunau.entity.ForumComment">
    update forum_comment
    set commentable_id = #{commentableId,jdbcType=BIGINT},
      commentable_type = #{commentableType,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      reply_count = #{replyCount,jdbcType=INTEGER},
      vote_count = #{voteCount,jdbcType=INTEGER},
      vote_up_count = #{voteUpCount,jdbcType=INTEGER},
      vote_down_count = #{voteDownCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE},
      delete_time = #{deleteTime,jdbcType=DATE},
      parent_id = #{parentId,jdbcType=BIGINT}
    where comment_id = #{commentId,jdbcType=BIGINT}
  </update>
</mapper>